<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron" style="text-align:center;width:100%;">
  <h1>
    Welcome to the Threes to Kings Scoreboard
  </h1>
  <h6>A Macy, Meiners, Quinlan and Whitaker Production</h6>
  <hr>
  <h3 *ngIf="!gameStarted" style="margin-bottom:25px;">Please Enter the Players</h3>
  <form *ngIf="!gameStarted" #playerForm="ngForm" (ngSubmit)="onSubmit(playerForm)">
    <div class="row" style="margin-bottom:10px;">
      <div class="col-sm-3">
        <label for="p1">Player 1: </label>
        <input [(ngModel)]="ps.player1.name" type="text" name="player1">
      </div>
      <div class="col-sm-3">
        <label for="p2">Player 2: </label>
        <input [(ngModel)]="ps.player2.name" type="text" name="player2">
      </div>
      <div class="col-sm-3">
        <label for="p3">Player 3: </label>
        <input [(ngModel)]="ps.player3.name" type="text" name="player3">
      </div>
      <div class="col-sm-3">
        <label for="p4">Player 4: </label>
        <input [(ngModel)]="ps.player4.name" type="text" name="player4">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label for="p5">Player 5: </label>
        <input [(ngModel)]="ps.player5.name" type="text" name="player5">
      </div>
      <div class="col-sm-3">
        <label for="p6">Player 6: </label>
        <input [(ngModel)]="ps.player6.name" type="text" name="player6">
      </div>
      <div class="col-sm-3">
        <label for="p7">Player 7: </label>
        <input [(ngModel)]="ps.player7.name" type="text" name="player7">
      </div>
      <div class="col-sm-3">
        <label for="p8">Player 8: </label>
        <input [(ngModel)]="ps.player8.name" type="text" name="player8">
      </div>
    </div>
    <div class="row" style="margin-top:30px;">
      <button type="submit" class="btn btn-success">Start Game</button>
    </div>
  </form>
  <div *ngIf="gameStarted" class="row" style="margin-top:30px;">
    <button type="reset" class="btn btn-default" (click)="reset()">Restart</button>
  </div>
</div>
<div *ngIf="gameStarted">
  <table style="text-align:center; width:100%;" class="table">
    <thead style="text-align:center" class="thead-inverse">
      <tr>
        <th style="text-align:center">Card</th>
        <th *ngFor="let player of players" style="text-align:center">{{player.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of cards; let i = index">
        <td>{{card.value}}</td>
        <td *ngFor="let player of players"><input (change)="calculateTotal(player)" [(ngModel)]="player.score[i]" type="number"></td>
      </tr>
      <tr>
        <td>TOTAL</td>
        <td *ngFor="let player of players">{{player.totalScore}}</td>
      </tr>
    </tbody>
  </table>
</div>
